#cursor {
    size: 2px;
    
    display: block;
    position: absolute;
    height: size;
    width: size;
    border-radius: ceil(size / 2);
    background-color: transparent;
    
    
    
    top: -100px;
    left: -100px;
  }